av==8.0.3
bbox-visualizer==0.1.0
Cython==0.29.22
imageio==2.8.0
imageio-ffmpeg==0.4.2
imgaug==0.4.0
ipython==7.14.0
lxml==4.6.2
matplotlib==3.2.1
opencv-python-headless==4.5.3.56
pandas==1.0.5
parso==0.7.0
pdbpp==0.10.2
Pillow==7.1.2
pycocotools==2.0.2
scikit-image==0.17.2
scikit-learn==0.24.2
scikit-video==1.1.11
scipy==1.4.1
tornado==6.1
tqdm==4.58.0
urllib3==1.26.3